<configuration>
    <springProfile name="!production">
        <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%highlight(%level) %cyan(%logger{32}) [correlation-id=%X{correlation-id:-none}] : %msg %n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="production">
        <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%highlight(%level) %cyan(%logger{32}) [correlation-id=%X{correlation-id:-none}] : %msg %n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="info">
        <appender-ref ref="console-appender"/>
    </root>
</configuration>